{%- style -%}
  .section--custom-liquid .section-padding {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  @media screen and (min-width: 750px) {
    .section--custom-liquid .section-padding {
      padding-top: 4rem;
      padding-bottom: 5rem;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="section-padding">
    {{ section.settings.custom_liquid }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "section section--custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.all.colors.accent.label"
        },
        {
          "value": "background-light",
          "label": "t:sections.all.colors.background_light.label"
        },
        {
          "value": "background-dark",
          "label": "t:sections.all.colors.background_dark.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-light",
      "label": "t:sections.all.colors.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
